
.master-organization{
    padding: 2%;
}
.master-organization-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: solid 1px #00000020;
}

.master-organization-form input{
    font-weight: 600;
}

.master-organization-table{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: solid 1px #00000020;
}